<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Forum_01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 声明一个Servlet类 -->
  <servlet>
  	<!-- Servlet的 标识名-->
  	<servlet-name>loginServlet</servlet-name>
  	<!-- Servletl类的全限定名(包名、类名) -->
  	<servlet-class>controller.user.LoginServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<!-- Servlet的标识名 -->
  	<servlet-name>loginServlet</servlet-name>
  	<!-- URL匹配模式 -->
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  
</web-app>